#teamBranding.creative {
    height: 520px;
}

/* tablet devices */

@media only screen and (max-width: 768px) {
    #teamBranding.creative {
        height: 550px;
    }
    #teamBranding h1 {
        font-size: 45px;
    }
    #teamBranding h6 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    #teamBranding.creative {
        height: 570px;
    }
    #teamBranding h1 {
        font-size: 40px;
    }
    #teamBranding h6 {
        font-size: 14px;
    }
}


/* mobile devices */

@media only screen and (max-width: 440px) {
    #teamBranding.creative {
        height: 590px;
    }
    #teamBranding h1 {
        font-size: 38px;
    }
    #teamBranding h6 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {
    #teamBranding.creative {
        height: 640px;
    }
    #teamBranding h1 {
        font-size: 36px;
    }
    #teamBranding h6 {
        font-size: 13px;
    }
}