#teamBranding.business {
    height: 650px;
}

/* tablet devices */

@media only screen and (max-width: 768px) {
    #teamBranding.business {
        height: 700px;
    }
    #teamBranding h1 {
        font-size: 45px;
    }
    #teamBranding h6 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 576px) {
    #teamBranding.business {
        height: 740px;
    }
    #teamBranding h1 {
        font-size: 42px;
    }
    #teamBranding h6 {
        font-size: 14px;
    }
}


/* mobile devices */

@media only screen and (max-width: 440px) {
    #teamBranding.business {
        height: 760px;
    }
    #teamBranding h1 {
        font-size: 38px;
    }
    #teamBranding h6 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {
    #teamBranding.business {
        height: 820px;
    }
    #teamBranding h1 {
        font-size: 36px;
    }
    #teamBranding h6 {
        font-size: 13px;
    }
}