.navbar .navbar-nav .nav-item{
  margin-right: 10px;
}

.navbar .navbar-nav .nav-item:hover{
  margin-right: 10px;
  border-bottom: 3px solid var(--RCFprimary)
}

.navbar .navbar-nav .active{
  margin-right: 10px;
  border-bottom: 3px solid var(--RCFprimary)
}
