/* Contact Page starts here */

#cv_drop #contactPage {
  padding-bottom: 50px;
}

#cv_drop .input-group-text {
  border-top: none !important;
  border-left: none !important;
}

#cv_drop #contactPage .find,
.location {
  font-size: 14px;
  font-weight: 200;
}

.cv_link a{
  color: var(--RCFprimary);
  font-weight: 500
}

#cv_drop #contactPage .container .row .contact-form .form-group {
  margin-top: 8px;
}

#cv_drop #contactPage .container .row .contact-form .form-group input,
#cv_drop #contactPage .container .row .contact-form .form-group textarea {
  border-radius: 0%;
}

#cv_drop #contactPage .contactText {
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
  padding: 10px 20px;
}

#cv_drop #contactForm input {
  border: none;
  outline: none !important;
  border-bottom: 1px solid rgb(208, 207, 207);
}

#cv_drop textarea:focus,
input:focus {
  outline: none !important;
}

#cv_drop .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#cv_drop .form-control {
  border: none;
}

#cv_drop textarea {
  border-bottom: 1px solid rgb(208, 207, 207) !important;
}

/* Contact Page ends here */
