#teamBranding.devteam {
    height: 520px;
}

a, a:hover {
    color: black;
    text-decoration: none;
}
/* tablet devices */

@media only screen and (max-width: 576px) {
    #teamBranding.devteam {
        height: 560px;
    }
    #teamBranding h1 {
        font-size: 40px;
    }
    #teamBranding h6 {
        font-size: 14px;
    }
}


/* mobile devices */

@media only screen and (max-width: 440px) {
    #teamBranding.devteam {
        height: 575px;
    }
    #teamBranding h1 {
        font-size: 38px;
    }
    #teamBranding h6 {
        font-size: 13px;
    }
}

@media only screen and (max-width: 360px) {
    #teamBranding.devteam {
        height: 600px;
    }
    #teamBranding h1 {
        font-size: 36px;
    }
    #teamBranding h6 {
        font-size: 13px;
    }
}